<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>controlWindows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>controlWindowsOSAX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6EA4AC9198CA9DA00C20E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6EA4AEA198CA9DB00C20E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA4E8A21A087FA8001F484C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
